*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}
.header{
    height: 100vh;
    width: 100%;
    background: url("1.jpg") rgba(0, 0, 0, 0.7);
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;

}
.nav{
    display:flex;
    justify-content: space-between;

}
img{
    height: 80px;
    width: 200px;
    cursor: pointer;
}
.nav ul li{
    justify-content: space-between;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.nav ul li a::after{
    content: '';
    transition: 0.5s;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -10;
    display: block;
    background-color:#16e6ff;
}
.nav ul li a:hover::after{
    width: 100%;
}
h1{
    text-align: center;
    color: #fff;
    font-size: 52px;
}
form{
    border-radius: 15px;
    height: 500px;
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, 0.7);
    margin-top: 10px;
}
input{
    width: 350px;
    height: 50px;
    background: rgba(0, 0, 0, 0.692);
    border: black;
    border-radius: 10px;
    margin-left:40px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
}
button{
    background: rgba(0, 0, 0, 0.692);
    width: 350px;
    height: 50px;
    margin-left:40px;
    border: black solid 1px;
    border-radius: 15px;
}
button a{
    text-decoration: none;
    color: #fff;
    margin: 20px;
    background: rgba(0, 0, 0, 0.692);
}
textarea{
    background: rgba(0, 0, 0, 0.692);
    color: #fff;
    margin-left:40px;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 350px;
    height: 100px;
    border: black;
}