/* ----------media query------ */
@media screen and (max-width:425px){
    *{
        margin: 0;
        padding: 0;
    
    }
    .header{
        width: 100%;
        height: 90%;
    }
    img{
        margin-left: 60%
    }
    .text h1{
        font-size: 40px;
    
    }
    .text h1:hover{
        font-size: 45px;
        transition: 1.5s;
    }
    .text p{
        font-size: 12px;
        
    }
    .btn{
        visibility: hidden;
    }
    .section2 {
        width: 100%;
        height: 200vh;
    }
    .section2 h1{
        font-size: 40px;
    }
    .section2 h1:hover{
        font-size: 45px;
    }
    .row{
        display: inline-block;
        margin: 50px;
        text-align: center;
        align-items: center;
        
    }
    .col{
        align-items: center;
        text-align: center;
        margin-bottom: 50px;
        margin: auto;
        margin-top: 50px;
    }
    .section3{
        width: 100%;
        height: 110vh;
    }
    .section3 h1{
        font-size: 40px;
    }
    .section3 h1:hover{
        font-size: 45px;
    }
    .row2{
        display: inline-block;
        align-items: center;
        text-align: center;
        margin: auto;
        margin-top: 50px;
    }
    .col2{
        margin: auto;
        align-items: center;
    }
    .col2 img{
        margin: auto;
    }
    .section4{
        width: 100%;
        height: 110vh;
    }
    .section4 h1{
        font-size: 40px;
    }
    .section4 h1:hover{
        font-size: 45px;
    }
    .row4{
        display: inline-block;
        margin-top: 50px;
    }
    .col4{
        align-items: center;
        text-align: center;
    }
    .col4 img{
        margin: auto;
        height: 230px;
        width: 200px;
    }
    .col4 a{
        font-size: 15px;
    }
    .section5{
        width: 100%;
        height: 60vh;
    }
    .section5 h1{
        font-size: 40px;
        margin-top: 30px;

    }
    .section5 h1:hover{
        font-size: 45px;
    }
    .row5{
        display: inline-block;
        align-items: center;
        text-align: center;
        width: 90%;
        margin-bottom: 90px;
    }
    .col5{
        margin-right: 110px;
        margin-bottom: 70px;
    }
    .section6{
        width: 100%;
        align-items: center;
        text-align: center;

    }
    .section6 h1{
        font-size: 40px;
    }
    .section6 h1:hover{
        font-size: 45px;
        
    }
    .col6{
        align-items: center;

    }
    .col6 img{
        height: 130px;
        width: 100px;
        margin: auto;
        margin-top: 50px;

    }
    .row6{
        display: inline-block;
        display: flex;
        align-items: center;
        text-align: center;
        margin: auto;
        margin-top: 90px;
    }
    .col6 h3{
        font-size: 30px;
        margin-top: 130px;
    }
    .section6 a{
        margin: auto;
        font-size: 15px;
        
    }
    .ro1{
        display: inline-block;

    }
    video{
        width: 90%;
        margin: auto;
        align-items: center;
        margin-left: 20px;
    }
}
